<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <!-- 顶部导航栏 -->
        <div class="header">
          <!-- 左边标题和搜索框 -->
          <div class="title">
            <h4 nz-typography class="title_text">再花的博客</h4>
          </div>
          <!-- 路由导航按钮 -->
          <div class="route">
            <button nz-button nzType="text">博客</button>
            <button nz-button nzType="text">随笔</button>
            <button nz-button nzType="text">留言板</button>
            <button nz-button nzType="text">关于我</button>
            <i nz-icon nzType="github" nzTheme="outline" class="github_icon"></i>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>